@font-face {
    font-family: 'MrRobot';
    src: url(./fonts/mr-robot/mr-robot.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: black;
    margin: 0;
    height: 100%;
}
.hello {
    font-family: 'MrRobot';
    text-align: center;
    font-size: 5.8em;
    color: #E70B0B;
}
.button {
    display: flex;
    justify-content: center;
}
.button button {
    font-family: 'MrRobot';
    font-size: 3.8em;
    margin-top: 4%;
    color: #E70B0B;  
    background-color: black;
    border:  6px #E70B0B solid;
    border-style: outset;
}

.button button:hover {
    border: 8px #E70B0B solid;
    font-size: 4.8em;
    margin-top: 4%;
    color: #E70B0B;
    background-color: black;
    border:  6px #E70B0B solid;
    border-style: outset;
}